<!-- BEGIN: main -->
<form name="form1" method="post" action="{PHP.PHP_SELF}?a=U">
  <table width="100%"  border="0" cellspacing="0" cellpadding="3">
    <tr>
      <td width="30%" bgcolor="#F4F4F4" class="tdunderlinedotx">Host</td>
      <td width="70%" class="tdunderlinedotx"><input name="dbhost" type="text" id="dbhost" value="{am_dbs.dbhost}"></td>
    </tr>
    <tr>
      <td bgcolor="#F4F4F4" class="tdunderlinedotx">Database name </td>
      <td class="tdunderlinedotx"><input name="dbname" type="text" id="dbname" value="{am_dbs.dbname}" size="40"></td>
    </tr>
    <tr>
      <td bgcolor="#F4F4F4" class="tdunderlinedotx">Database user </td>
      <td class="tdunderlinedotx"><input name="dbuser" type="text" id="dbuser" value="{am_dbs.dbuser}" size="40"></td>
    </tr>
    <tr>
      <td bgcolor="#F4F4F4" class="tdunderlinedotx">Database password </td>
      <td class="tdunderlinedotx"><input name="dbpassword" type="password" id="dbpassword" value="{am_dbs.dbpassword}" size="40"></td>
    </tr>
    <tr>
      <td bgcolor="#F4F4F4" class="tdunderlinedotx">Description</td>
      <td class="tdunderlinedotx"><input name="dbdesc" type="text" id="dbdesc" value="{am_dbs.dbdesc}" size="40"></td>
    </tr>
    <tr>
      <td bgcolor="#F4F4F4" class="tdunderlinedotx">Database type </td>
      <td class="tdunderlinedotx"><select name="dbtype" id="dbtype">
        <option value="mysql">mysql</option>
        <option value="mssql">mssql</option>
      </select>
      <input name="_dbtype" type="hidden" id="_dbtype" value="{am_dbs.dbtype}"></td>
    </tr>
    <tr>
      <td bgcolor="#F4F4F4" class="tdunderlinedotx">Charset</td>
      <td class="tdunderlinedotx"><select name="dbcharset" id="dbcharset">
        <option value="utf-8">utf-8</option>
        <option value="windows-1252">windows-1252</option>
      </select>
      <input name="_dbcharset" type="hidden" id="_dbcharset" value="{am_dbs.dbcharset}"></td>
    </tr>
    <tr>
      <td bgcolor="#F4F4F4" class="tdunderlinedotx">Directory</td>
      <td class="tdunderlinedotx"><input name="directory" type="text" id="directory" value="{am_dbs.directory}"></td>
    </tr>
    <tr>
      <td bgcolor="#F4F4F4" class="tdunderlinedotx">Authors</td>
      <td class="tdunderlinedotx"><input name="author" type="text" id="author" value="{am_dbs.author}" size="40"></td>
    </tr>
    <tr>
      <td class="tdunderlinedotx">&nbsp;</td>
      <td class="tdunderlinedotx"><input type="submit" class="btn" name="Submit" value="Save">
      <input type="button" name="Submit2" class="btn" value="Cancel" onclick="history.go(-1)"></td>
    </tr>
  </table>
</form>
<script>
document.getElementById("dbtype").value = document.getElementById("_dbtype").value;
document.getElementById("dbcharset").value = document.getElementById("_dbcharset").value;
</script>
{groups}
<!-- END: main -->
