<!-- BEGIN: main -->

<h4>FIELD DESCRIPTION (for {am_fields.dbname}.{am_fields.tablename}) </h4>
<form name="frmEdit" method="post" action="am_fields.edit.php?a=U">
  <table width="100%"  border="0" cellspacing="0" cellpadding="3">
    <tr>
      <td width="24%" nowrap bgcolor="#F4F4F4" class="tdunderlinedotx">Field name </td>
      <td width="76%" class="tdunderlinedotx"><input name="fldname" type="text" readonly id="fldname" value="{am_fields.fldname}"> 
      Field type: <strong>{am_fields.fldtype}</strong> </td>
    </tr>
    <tr>
      <td nowrap bgcolor="#F4F4F4" class="tdunderlinedotx">Description</td>
      <td nowrap class="tdunderlinedotx"><input name="flddesc" type="text" id="flddesc" value="{am_fields.flddesc}" size="30"> 
      &nbsp;Label: 
        <input name="fldlabel" type="text" id="fldlabel" value="{am_fields.fldlabel}" size="15"> 
      (after control) </td>
    </tr>
    <tr>
      <td nowrap bgcolor="#F4F4F4" class="tdunderlinedotx">Control on edit </td>
      <td class="tdunderlinedotx">{fldcontrol}</td>
    </tr>
    <tr>
      <td valign="top" nowrap bgcolor="#F4F4F4" class="tdunderlinedotx">Order in list </td>
      <td valign="top" class="tdunderlinedotx"><input name="fldorder" type="text" id="fldorder" value="{am_fields.fldorder}" size="10"></td>
    </tr>
    <tr>
      <td valign="top" nowrap bgcolor="#F4F4F4" class="tdunderlinedotx">Options      </td>
      <td valign="top" class="tdunderlinedotx"><textarea name="fldoptions" style="width:100%;" rows="5" id="fldoptions">{am_fields.fldoptions}</textarea>
      <input type="button" name="Submit3" value="wizard" class="btn" style="border:1px outset" onClick="javascript:window.open('am_fields.option.php?key={am_fields.fldid}&ctrl='+this.form.fldcontrol.value, '_blank', 'width=400,height=200,left=200,top=150,scrollbars=yes,status=yes');"></td>
    </tr>
    <tr>
      <td class="tdunderlinedotx">&nbsp;</td>
      <td class="tdunderlinedotx"><input type="submit" name="Submit" class="btn" value="Save">
      <input type="button" name="Submit2" class="btn" value="Cancel" onclick="history.go(-1)">
      <input name="fldid" type="hidden" id="fldid" value="{am_fields.fldid}">
      <input name="key" type="hidden" id="key" value="{am_fields.fldid}">
      <input name="tableid" type="hidden" id="tableid" value="{am_fields.tableid}"></td>
    </tr>
  </table>
</form>
<!-- END: main -->