<!-- BEGIN: main -->
<h4>TABLE DESCRIPTION</h4>
<form name="form1" method="post" action="am_tables.edit.php?a=U">
  <table width="100%"  border="0" cellspacing="0" cellpadding="3">
    <tr>
      <td width="30%" bgcolor="#F4F4F4" class="tdunderlinedotx">Table name </td>
      <td width="70%" class="tdunderlinedotx"><input name="tablename" type="text" readonly id="tablename" value="{am_tables.tablename}"></td>
    </tr>
    <tr>
      <td bgcolor="#F4F4F4" class="tdunderlinedotx">Description</td>
      <td class="tdunderlinedotx"><input name="tabledesc" type="text" id="tabledesc" value="{am_tables.tabledesc}" size="40"></td>
    </tr>
    <tr>
      <td bgcolor="#F4F4F4" class="tdunderlinedotx">Order in List </td>
      <td class="tdunderlinedotx"><input name="ordernum" type="text" id="ordernum" value="{am_tables.ordernum}" size="10"></td>
    </tr>
    <tr>
      <td bgcolor="#F4F4F4" class="tdunderlinedotx">Primary key</td>
      <td class="tdunderlinedotx"><input name="tablepkey" type="text" readonly="true" id="tablepkey" value="{am_tables.tablepkey}"></td>
    </tr>
    <tr>
      <td bgcolor="#F4F4F4" class="tdunderlinedotx">Master table 1 </td>
      <td class="tdunderlinedotx">{mastertable}</td>
    </tr>
    <tr>
      <td bgcolor="#F4F4F4" class="tdunderlinedotx">Foreign key 1 </td>
      <td class="tdunderlinedotx">{masterpkey}</td>
    </tr>
    <tr>
      <td bgcolor="#F4F4F4" class="tdunderlinedotx">Master table 2 </td>
      <td class="tdunderlinedotx">{mastertable2}</td>
    </tr>
    <tr>
      <td bgcolor="#F4F4F4" class="tdunderlinedotx">Foreign key 2 </td>
      <td class="tdunderlinedotx">{masterpkey2}</td>
    </tr>
    <tr>
      <td bgcolor="#F4F4F4" class="tdunderlinedotx">Master table 3 </td>
      <td class="tdunderlinedotx">{mastertable3}</td>
    </tr>
    <tr>
      <td bgcolor="#F4F4F4" class="tdunderlinedotx">Foreign key 3 </td>
      <td class="tdunderlinedotx">{masterpkey3}</td>
    </tr>
    <tr>
      <td bgcolor="#F4F4F4" class="tdunderlinedotx">Generate</td>
      <td class="tdunderlinedotx"><input name="haslist" type="checkbox" id="haslist" value="1"{haslistcheck}>
        List 
        <input name="hasview" type="checkbox" id="hasview" value="1"{hasviewcheck}>
        View 
        <input name="hasedit" type="checkbox" id="hasedit" value="1"{haseditcheck}>
        Edit 
        <input name="hasdelete" type="checkbox" id="hasdelete" value="1"{hasdeletecheck}>
        Delete
        <input name="_haslist" type="hidden" id="_haslist" value="{am_tables.haslist}">
        <input name="_hasview" type="hidden" id="_hasview" value="{am_tables.hasview}">
        <input name="_hasedit" type="hidden" id="_hasedit" value="{am_tables.hasedit}">
        <input name="_hasdelete" type="hidden" id="_hasdelete" value="{am_tables.hasdelete}">
        <input name="haslocked" type="checkbox" id="haslocked" value="1"{haslockedcheck}>
        Lock
        <input name="_haslocked" type="hidden" id="_haslocked" value="{am_tables.haslocked}"></td>
    </tr>
    <tr>
      <td bgcolor="#F4F4F4" class="tdunderlinedotx">List order </td>
      <td class="tdunderlinedotx"><input name="fldorder" type="text" id="fldorder" value="{am_tables.fldorder}">        <select name="ordertype" id="ordertype">
        <option value="">ascending</option>
        <option value="desc"{descselected}>descending</option>
      </select>
      <input name="_ordertype" type="hidden" id="_ordertype" value="{am_tables.ordertype}"></td>
    </tr>
    <tr>
      <td class="tdunderlinedotx">&nbsp;</td>
      <td class="tdunderlinedotx"><input type="submit" name="Submit" class="btn" value="Save">
      <input type="button" name="Submit2" class="btn" value="Cancel" onclick="history.go(-1)">
      <input name="tableid" type="hidden" id="tableid" value="{am_tables.tableid}">
      <input name="key" type="hidden" id="key" value="{am_tables.tableid}"></td>
    </tr>
  </table>
</form>
<!-- END: main -->