<!-- BEGIN: main -->
<p>&nbsp;</p>
<form name="form1" method="post" action="{form_action}">
  <table width="100%"  border="0" cellspacing="1" cellpadding="2">
    <tr>
      <td height="60" align="center">Are you sure to delete ? 
      <input name="key" type="hidden" id="key" value="{key}"></td>
    </tr>
    <tr>
      <td align="center"><input type="submit" name="Submit" class="btn" value="  OK  ">
      &nbsp;<input type="button" name="Submit2" class="btn" value="Cancel" onClick="javascript:history.go(-1)"></td>
    </tr>
  </table>
</form>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<!-- END: main -->
