<!-- BEGIN: main -->
<table width="100%"  border="0" cellspacing="1" cellpadding="3">
<!-- BEGIN: dbs -->
  <tr>
    <td width="3%"><img src="images/blocks.gif" width="30" height="30"></td>
    <td width="97%" class="{tdclass}" onClick="javascript:selectDBName(this);"><a href="am_tables.list.php?dbname={am_dbs.dbname}&groupid=-1" target="{target}"><strong><font color="#FF3300">{am_dbs.dbname}</font></strong></a>{groups}</td>
  </tr>
<!-- END: dbs -->  
</table>
<script>
function selectDBName(obj){
	objs = document.getElementsByTagName("td");
	for(i=0;i<objs.length;i++){
		o = objs[i];
		if (o.className=="tdselected") o.className = "";
	}
	obj.className = "tdselected";
}
</script>
<!-- END: main -->