<!-- BEGIN: main -->
<h3><font color="#FF6600">FIELDS IN [{m_dbname}.{m_tablename}]</font></h3>
<p align="right"><strong>Show</strong>: <a href="am_fields.list.php?filter=all">all fields</a> | <a href="am_fields.list.php?filter=list">list only</a> | <a href="am_fields.list.php?filter=edit">edit only</a> | <a href="am_fields.list.php?filter=view">view only</a></p>
<form action="am_fields.list.php?a=U" method="post" name="frmTables" id="frmTables">
  <table width="100%"  border="0" cellspacing="0" cellpadding="3">
    <tr>
      <td width="6%" bgcolor="#FFF5EC" style="border-bottom:1px solid lightgrey">&nbsp;</td>
      <td width="6%" bgcolor="#FFF5EC" style="border-bottom:1px solid lightgrey"><strong>Tag</strong></td>
      <td style="border-bottom:1px solid lightgrey" width="38%"><strong>Field [<a href="am_tables.read.php?tableid={m_tableid}"><font color="#FF6600">refresh</font></a>] </strong></td>
      <td width="7%" bgcolor="#FFF5EC" style="border-bottom:1px solid lightgrey"><div align="center"><strong>Move</strong></div></td>
      <td style="border-bottom:1px solid lightgrey" width="25%"><strong>Description</strong></td>
      <td style="border-bottom:1px solid lightgrey" width="5%" align="center">List</td>
      <td style="border-bottom:1px solid lightgrey" width="6%" align="center">View</td>
      <td style="border-bottom:1px solid lightgrey" width="6%" align="center">Edit</td>
    </tr>
<!-- BEGIN: fields -->
    <tr>
      <td align="center" valign="top" nowrap bgcolor="#FFF5EC" class="tdlight" style="color:#CC3300; border-bottom:1px solid lightgrey"><input name="key[]" type="checkbox" id="key[]" value="{am_fields.fldid}"></td>
      <td valign="top" nowrap bgcolor="#FFF5EC" class="{tdclass}" style="color:#0000FF; border-bottom:1px solid lightgrey">{am_fields.fldtag}</td>
      <td class="{tdclass}" valign="top" style="color:#CC3300" nowrap>{am_fields.fldorder}. <a href="am_fields.edit.php?key={am_fields.fldid}"><strong>{am_fields.fldname}</strong></a>      <input name="fldid[]" type="hidden" id="fldid[]" value="{am_fields.fldid}"></td>
      <td valign="top" bgcolor="#FFF5EC" class="{tdclass}" style="color:#CC3300"><div align="center">{move}</div></td>
      <td class="{tdclass}" valign="top"><input name="flddesc[]" type="text" id="flddesc[]" value="{am_fields.flddesc}" style="width:100%; border:1px inset"></td>
      <td class="{tdclass}" align="center" valign="top">{list}</td>
      <td class="{tdclass}" align="center" valign="top">{view}</td>
      <td class="{tdclass}" align="center" valign="top">{edit}</td>
    </tr>
<!-- END: fields -->
    <tr>
      <td align="center" class="tdlight">&rarr;</td>
      <td align="left" valign="top" class="tdlight"><input type="submit" name="Submit2" value="Tag" class="btn" onClick="javascript:document.frmTables.action='am_fields.tag.php';" style="z-index:-1"></td>
      <td class="tdlight">[<a href="am_tables.list.php"><strong>goto table list</strong></a>]</td>
      <td class="tdlight" valign="top">&nbsp;</td>
      <td class="tdlight" valign="top"><input type="submit" class="btn" name="Submit" value="Save" style="z-index:100"></td>
      <td class="tdlight" align="center" valign="top">&nbsp;</td>
      <td class="tdlight" align="center" valign="top">&nbsp;</td>
      <td class="tdlight" align="center" valign="top">&nbsp;</td>
    </tr>
  </table>
</form>
<!-- END: main -->
