<!-- BEGIN: main -->


<table width="100%"  border="0" cellspacing="0" cellpadding="3">
  <tr>
    <td width="25%" valign="top" style="border-right:1px solid lightgrey"><h4 style="color:#FF6600"><strong>DATABASES</strong></h4>
      <p>{dbs}</p>
      <hr size="1" color="#FFF5EC">
      <table width="100%"  border="0" cellspacing="2" cellpadding="1">
        <tr>
          <td width="10%" align="center"><img src="images/new.gif" width="20" height="20"></td>
          <td width="90%"><a href="am_dbs.add.php">New Database</a></td>
        </tr>
        <tr>
          <td align="center"><img src="images/edit.gif" width="16" height="16"></td>
          <td><a href="am_dbs.edit.php">Edit Database</a></td>
        </tr>
        <tr>
          <td align="center"><img src="images/delete.gif" width="16" height="16"></td>
          <td><a href="am_dbs.delete.php">Remove Database</a></td>
        </tr>
      </table>
      <p>&nbsp;    </p>
      <p align="center">[<a href="../../">Home</a> | <a href="../../modules/index.php">Control Panel </a>]</p></td>
    <td width="75%" valign="top"><div id="divTables">{tables}</div>
	<iframe name="_____frameContent" id="_____frameContent" src="{frameSrc}" style="display: none" onload="updateCanvas(this.name, 'divTables')"></iframe>
	</td>
  </tr>
</table>
<script type="text/javascript">
function checkList(objname){
	objs = document.getElementsByName(objname);
	if (!objs) return;
	for(i=0;i<objs.length;i++){
		obj = objs[i];
		obj.checked = !obj.checked;
	}
}
function deleteTabs(){
	if (!window.confirm("Are you about to delete ?")) return;
	frm = document.getElementById("frmTables");
	frm.action = "am_tables.list.php?a=delete";
	frm.submit();
}
</script>
<!-- END: main -->