<!-- BEGIN: main -->
(-- BEGIN: main --)
<table width="100%"  border="0" cellspacing="0" cellpadding="3">
  <tr>
    <td width="20%" valign="top" style="border-right:1px solid lightgrey"><table width="100%"  border="0" cellspacing="1" cellpadding="3">
<!-- BEGIN: am_tables -->
      <tr>
        <td width="7%" bgcolor="#FF9966">&nbsp;</td>
        <td width="93%" nowrap class="{tdclass}" onClick="javascript:selectDBName(this);"><a href="{am_tables.tablename}.list.php?cmd=resetall" target="{target}">[-common.{am_tables.tablename}-]</a></td>
      </tr>
<!-- END: am_tables -->	  
    </table>   
    </td>
    <td width="80%" valign="top"><div id="divTables"></div>
	<iframe name="_____frameContent" id="_____frameContent" src="{frameSrc}" style="display: none" onload="updateCanvas(this.name, 'divTables')"></iframe>
	</td>
  </tr>
</table>
<script>
function selectDBName(obj){
	objs = document.getElementsByTagName("td");
	for(i=0;i<objs.length;i++){
		o = objs[i];
		if (o.className=="tdselected") o.className = "";
	}
	obj.className = "tdselected";
}
</script>
(-- END: main --)
<!-- END: main -->