<!-- BEGIN: main -->
(-- BEGIN: main --)<div class="amtitle">[-labels.{tablename}-]</div>
<br>
[-BEFORE_FORM-]
<form method="post" action="{form_action}" name="frm{am_fields.tablename}" id="frm{am_fields.tablename}">
<table width="100%"  border="1" style="border-collapse:collapse; border:1px solid lightgrey" cellspacing="0" cellpadding="3">
  <tr>
<!-- BEGIN: am_flddesc -->  
    <td class="tdgrey"><b>[-labels.{am_fields.fldname}-]</b></td>
<!-- END: am_flddesc -->  
  </tr>
(-- BEGIN: {tablename} --)
  <tr>
<!-- BEGIN: am_fldname -->  
    <td class="tdlist" style="border-bottom:1px solid lightgrey; color:#0033CC; font-weight:bold">[-{am_fields.tablename}.{am_fields.fldname}-]&nbsp;</td>
<!-- END: am_fldname -->  
  </tr>
(-- END: {tablename} --)
</table>
</form>
[-AFTER_FORM-]
(-- END: main --)
<!-- END: main -->