<!-- BEGIN: main -->
(-- BEGIN: main --)
[-BEFORE_TITLE-]
<p class="amtitle">[-labels.{tablename}-]</p>
&nbsp;<br>
[-BEFORE_FORM-]
<form method="post" action="{form_action}" name="frm{tablename}">
<table width="100%"  border="0" cellspacing="1" cellpadding="3">
<!-- BEGIN: am_fldname -->  
  <tr>
    <td width="25%" class="tdlabel" valign="top" nowrap>[-labels.{am_fields.fldname}-]</td>
    <td width="75%" class="tdview">[-{am_fields.tablename}.{am_fields.fldname}-]&nbsp;</td>
  </tr>
<!-- END: am_fldname -->  
  <tr>
    <td class="tdlabel">&nbsp;</td>
    <td class="tdlist">{button_goback}</td>
  </tr>
</table>
</form>
[-AFTER_FORM-]
(-- END: main --)
<!-- END: main -->