<!-- BEGIN: main -->
(-- BEGIN: main --)
[-BEFORE_TITLE-]
<p class="amtitle">[-labels.{tablename}-]</p>
[-BEFORE_FORM-]
<script type="text/javascript" src="../../packages/scripts/datetimepicker.js"></script>
<form method="post" enctype="multipart/form-data" action="[-form_action-]" name="frm{tablename}" onSubmit="return checkForm('[-dateflds-]', '[-numflds-]', '[-nnflds-]');">
{tags}
&nbsp;
<!-- BEGIN: tag -->
<div id="__divTag{tagnum}" style="display:{displaytagnum}">
<table width="100%"  border="0" cellspacing="1" cellpadding="3">
<!-- BEGIN: am_fldname -->  
  <tr>
    <td width="25%" valign="top" nowrap class="tdlabel">[-labels.{am_fields.fldname}-]&nbsp;</td>
    <td width="75%" class="tdview">{control}</td>
  </tr>
<!-- END: am_fldname -->  
</table>
</div>
<!-- END: tag -->
<table border="0" width="100%">
  <tr>
    <td class="tdview" width="25%"><input name="key" type="hidden" id="key" value="[-{tablename}.{tablepkey}-]"></td>
    <td class="tdview">{button_save}
     {button_cancel}  </td>
  </tr>
</table> 
<input type="hidden" name="__pkey" id="__pkey" value="{tablepkey}">
</form>
<script type="text/javascript">
// - make primary key readonly on edit
pkeyname = document.getElementById("__pkey").value;
pkeyobj = document.getElementById(pkeyname);
if (pkeyobj){
	if (document.getElementById("key").value!="") pkeyobj.readOnly = true;
}
// - set focus
objArr = document.getElementsByTagName("input");
if (objArr) {
	firstObj = objArr[0];
	if (!firstObj.readOnly) {
		firstObj.focus();
	} 
}
</script>
[-AFTER_FORM-]
(-- END: main --)
<!-- END: main -->
