<!-- BEGIN: main -->
(-- BEGIN: main --)
[-mastertable-]
[-BEFORE_TITLE-]
<div class="amtitle">[-labels.{tablename}-]</div>
[-BEFORE_SEARCH-]
<p>[-SEARCH-]</p>
[-BEFORE_FORM-]
<form method="post" action="{form_action}" name="frm{am_fields.tablename}" id="frm{am_fields.tablename}">
<div align="right">[-common.total-] <strong>[-TOTAL-]</strong> [-common.records-] (<strong>[-PAGETOTAL-]</strong> [-common.pages-]). {label_page}: [-PAGE-] <a href="javascript:movePage('frm{am_fields.tablename}', -1);">[-common.prev-]</a> | <a href="javascript:movePage('frm{am_fields.tablename}', 1);">[-common.next-]</a> | {button_add}</div>
<table width="100%"  border="0" cellspacing="0" cellpadding="3">
  <tr>
	<th width="2%" class="tdfirst">::</th>
<!-- BEGIN: am_flddesc -->  
    <th class="thlist">[-labels.{am_fields.fldname}-]</th>
<!-- END: am_flddesc -->  
	<th width="2%" class="thlist">&nbsp;</th>
	<th width="2%" class="thlist">&nbsp;</th>
{details_desc}
  </tr>
(-- BEGIN: {tablename} --)
  <tr>
	<td align="center" valign="top" class="tdfirst">
	  {check}[-disabled-]</td>
    <!-- BEGIN: am_fldname -->  
    <td valign="top" class="[-tdclass-]">[-{am_fields.tablename}.{am_fields.fldname}-]&nbsp;</td>
<!-- END: am_fldname -->  
	<td width="2%" valign="top" class="[-tdclass-]">{view}</td>
	<td width="2%" valign="top" class="[-tdclass-]">{edit}</td>
{details_link}
  </tr>
(-- END: {tablename} --)
</table>
<br>
(-- BEGIN: button --)
&nbsp;{button_delete}
(-- END: button --)
</form>
[-AFTER_FORM-]
(-- END: main --)
<!-- END: main -->