<!-- BEGIN: main -->
<select name="page" id="page" onChange="javascript:this.form.submit();">
<!-- BEGIN: line -->
<option value="{page}"{selected}>{page}</option>
<!-- END: line -->
</select>
<!-- END: main -->