<!-- BEGIN: main -->
<form action="{form_action}?a=S" method="post" name="frmSearch" id="frmSearch">
  <table width="100%"  border="0" cellspacing="1" cellpadding="2">
    <tr>
      <td width="100%">Tìm kiếm:         
        <input name="txtsearch" type="text" id="txtsearch" value="{txtsearch}">
      <input name="Submit" value="&nbsp;   &nbsp;" type="submit" style="border: 1px outset;border-style:outset; background-image:url(images/search.gif); background-repeat:no-repeat"> 
      [<a href="{form_action}?cmd=reset">xem tất c&#7843;</a>] </td>
    </tr>
  </table>
</form>
<!-- END: main -->

