<!-- BEGIN: main -->
<script src="xmlhttp.js"></script>
<h3><font color="#FF6600">TABLES IN [{m_dbname}]</font></h3>
<p align="right">Show tables: {all}<a href="am_tables.list.php?status=0">All</a> | {unlocked}<a href="am_tables.list.php?status=1">unlocked</a> | {locked}<a href="am_tables.list.php?status=-1">locked</a> </p>
<form action="am_tables.list.php" method="post" name="frmTables" id="frmTables">
  <table width="100%"  border="0" cellspacing="0" cellpadding="3">
    <tr>
      <td style="border-bottom:1px solid lightgrey" width="3%" align="center"><a href="javascript:checkList('tables[]');"><img src="images/icon_addtask.gif" width="21" height="19" border="0"></a></td>
      <td style="border-bottom:1px solid lightgrey" width="21%"><strong><a href="am_tables.list.php?a=reorder" title="Reorder list by table's name">Table</a> [<a href="am_dbs.read.php?dbname={m_dbname}"><font color="#FF6600">refresh</font></a>] </strong></td>
      <td style="border-bottom:1px solid lightgrey" width="5%">&nbsp;</td>
      <td width="5%" align="center" bgcolor="#FFF5EC" style="border-bottom:1px solid lightgrey"><strong>Move</strong></td>
      <td style="border-bottom:1px solid lightgrey" width="41%"><strong>Description</strong></td>
      <td style="border-bottom:1px solid lightgrey" width="5%" align="center">List</td>
      <td style="border-bottom:1px solid lightgrey" width="6%" align="center">View</td>
      <td style="border-bottom:1px solid lightgrey" width="6%" align="center">Edit</td>
      <td style="border-bottom:1px solid lightgrey" width="5%" align="center">Del</td>
    </tr>
<!-- BEGIN: tables -->
    <tr>
      <td class="tdlight" bgcolor="#F5F5F5"><input name="tables[]" type="checkbox" value="{am_tables.tableid}"{tabstatus}></td>
      <td valign="top" nowrap class="{tdclass}"><font color="#FF3300">{am_tables.ordernum}.</font> <a href="am_tables.edit.php?tableid={am_tables.tableid}" title="Edit table description"><strong>{am_tables.tablename}</strong></a></td>
      <td width="5%" valign="top" class="{tdclass}"><a href="am_fields.list.php?tableid={am_tables.tableid}" title="Show fields"><img src="images/setting.gif" width="25" height="22" border="0"></a></td>
      <td align="center" valign="top" bgcolor="#FFF5EC" class="{tdclass}">{move}</td>
      <td class="{tdclass}" valign="top"><a href="am_tables.gen.php?key={am_tables.tableid}&tabname={am_tables.tablename}" title="View generated page">{am_tables.tabledesc}</a></td>
      <td class="{tdclass}" align="center" valign="top">{list}</td>
      <td class="{tdclass}" align="center" valign="top">{view}</td>
      <td class="{tdclass}" align="center" valign="top">{edit}</td>
      <td class="{tdclass}" align="center" valign="top">{del}</td>
    </tr>
<!-- END: tables -->
  </table>
  <table width="100%"  border="0" cellspacing="2" cellpadding="2">
    <tr>
      <td><input name="btnGen" type="button" class="btn" value="Generate BACK-END" onClick="javascript:this.form.action='generate.php';this.form.submit();">
        <input name="btnGen2" type="button" class="btn" value="Generate FRONT-END" onClick="javascript:this.form.action='generate.front.php';this.form.submit();">
        <input type="button" name="Submit2" value="Delete SELECTED" onClick="deleteTabs();"></td>
      <td><div align="right">{groups}
          <input type="button" name="Submit" value="GO" onClick="this.form.action='am_tables.list.php?a=movetogroup';this.form.submit();">
      </div></td>
    </tr>
  </table>
</form>
<script>
function reOrderByName(db){
	ret = window.confirm("Do you want to reorder by name ?");
	if (ret){
		frm = document.getElementById("frmTables");
		frm.action = "am_tables.list.php?a=reorder";
		frm.submit();
	}
}
function deleteTabs(){
	if (!window.confirm("Are you about to delete ?")) return;
	frm = document.getElementById("frmTables");
	frm.action = "am_tables.list.php?a=delete";
	frm.submit();
}
</script>
<!-- END: main -->
