@charset "utf-8";
/* CSS Document */
a{
text-decoration:none; 
color:#000033;
}
a:hover{
text-decoration:underline; 
color: #FF9900;
}
.catalog{font-family:Verdana, Arial, Helvetica, sans-serif;
color:#1564DB;
font-size:10pt;
}
body{margin:0 0 0 0}
body,td,th {
	font-family: Verdana, Tahoma;
	font-size: 8pt;
}
form{margin-top:0; margin-bottom:0;}
p{margin-top:5px; margin-bottom:10px;}
input{
font-family: Arial; 
font-size: 9pt; 
}
.button{
font-family: Arial; 
font-size: 9pt; 
BORDER-BOTTOM: 1px outset #EAEAEA; 
BORDER-LEFT: 1px outset #EAEAEA; 
BORDER-RIGHT: 1px outset #EAEAEA; 
BORDER-TOP: 1px outset #EAEAEA; 
background-color: #EAEAEA;
}
.txtfield 
{
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10pt;
	background-color: #FFFFFF;
	border-style: inset;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-color:#CCCCCC;
	border-right-color:#CCCCCC;
	border-bottom-width: 1px;
	border-left-width: 1px
}
select
{
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 12px;
	background-color: #FFFFFF;
	border: #333333;
	border-style: groove;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px
}
.title{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color:#666600}
.label{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;}
.labelb{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold}
.labelbwhite{font-family:Verdana, Tahoma;
font-size:8pt;
font-weight:bold;
color:white;}
.labelwhite{font-family:Verdana, Tahoma;
font-size:8pt;
color:white;}
.grouptitle{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#660000}
.tdunderline{
border-bottom-style:solid;
border-bottom-width:1px;
border-bottom-color:#999999;
background-color:#F7F7F7;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px
}
.tdunderlinedot{
border-bottom-style:dotted;
border-bottom-width:1px;
border-bottom-color:#999999;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px
}
.tdunderlinedotx{
border-bottom-style:dotted;
border-bottom-width:1px;
border-bottom-color:#CCCCCC;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px
}
.tdrightdot{
border-right-style:dotted;
border-right-width:1px;
border-right-color:#999999;
}
.newstitle{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#663300;
}
.newsnote{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
}
.newsnotex{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#999999;
}
.topictitle{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#666666;
}
.tdleft{
border-left:1px solid;
}
.tdselected{
border:1px solid lightgrey;
background-color:#f7f7f7;
font-weight:bold
}
.tdlight{
border-bottom:1px dotted lightgrey;
}
.tdgrey{
background-color:#F4F4F4;
border-bottom:1px dotted #f3f3f3;
}
.tdlabel{
border-bottom:1px solid lightgrey;
font-weight:bold
}
.tdlist{
font-family:Verdana, Arial, Helvetica, sans-serif;
border-bottom:1px solid #f7f7f7;
}
.thlist{
font-family:Arial, Helvetica, sans-serif;
border:1px outset lightgrey;
text-align:left;
}
.tdview{
border-bottom:1px solid #f7f7f7;
}
.tdfield{
border-bottom:1px solid #f7f7f7;
}
.tdfirst{
border: 1px outset lightgrey;
background-color:#f7f7f7}
.tddetail{
border:1px solid lightgrey}
.amtitle{font-family:Arial;
font-size:16px;
font-weight:bold;
color:#3399FF
}
.btn{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight: bold;
	background-color:#FFFFFF;
	background-image: url("../controls/images/btn_00.gif");
	background-position:center;
	color:#6666FF;
	height:22px;
	cursor:pointer;
}
.activeTab{
border:1px solid lightgrey;
border-bottom:1px solid white;
color: red;
cursor:pointer;
font-weight:bold;
}
.deactiveTab{
border:1px solid lightgrey;
color:#666600;
background-image:url(../images/skins/light-bar.jpg);
cursor:pointer;
font-weight:bold;
}
.lastTab{border-bottom:1px solid lightgrey;
width:100%;
}
.topcategory{
font-family: Verdana, Tahoma;
font-size:120%;
font-weight:bold;
color:white;
background-color:#004080;
cursor:pointer
}
.topcategoryhead{
background-color:#FFF5EC;
}
.topcategoryline{
color:#330000;
cursor:pointer
}