fieldset { border-width: 0; font-size: 1.1em;}
#sn-header-content, #sn-navbar-content {width: 960px; margin: auto;}
#sn-not-logged-in {	width: 259px;	height: 31px;	background: url(../images/login-notice.png) no-repeat;	margin: 34px 0 0 300px;}
#sn-not-logged-in a:link, #sn-not-logged-in a:visited{ color:#ffe000; font-weight:bold; text-transform:uppercase; padding-left:50px; line-height:30px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75)}
#sn-not-logged-in-hover {	display: none;	width: 271px;	height: 248px;	background: url(../images/login-notice-hover.png) no-repeat;	position: absolute;	z-index: 9999; /* Make the div hover above the nav bar */	margin-top: -46px;	margin-left: 240px;}
#sn-nli-content { padding: 5px 15px 10px 15px; margin-top: 45px; color: #0870d1;}
span.sn-form-label, #sn-nli-content a {	font-family: Arial, Helvetica, sans-serif;	font-size: 10px; text-transform: uppercase;	font-weight: bold; letter-spacing: 0.5px;}
#sn-nli-content a {	text-transform:none; color: #0870d1; letter-spacing: normal; font-size:11px;}
.sn-nli-form { width: 233px; height: 24px; line-height: 24px; border: 1px solid #b8e3ff; background: url(../images/nli-form-bg.png) repeat-x; margin-top: 4px;	margin-bottom: 6px; color: #0a81d0; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 12px;}

.fakecheck {
	font: 12px Tahoma, Arial, Helvetica, sans-serif;
	text-decoration: none;
	outline: none;
	background: url(../images/checkbox.png) no-repeat;
	height: 16px;
	display: block;
	float: left;
	padding: 1px 0px 0px 20px;
}

.fakechecked {
	background-position: left -25px;
}

#sn-nli-button {
	width: 69px;
	height: 26px;
	background: url(../images/login-button.png) no-repeat top;
	border: none;
	float: right;
	margin-top: 6px;
}

#sn-nli-button:hover {
	background-position: bottom;
}

#sn-mem-content{ padding: 2px 0 20px; margin: 10px 14px 0; background:#FFF;}
.mem-hd{ padding:5px 0;}
.mem-hd img{ float:left; padding:3px; background:#EDEDED; margin-right:5px;}
.mem-hd p{ padding-bottom:5px;}
.list-info-mem{ padding:0;}
.list-info-mem li{ margin-bottom:2px; line-height:18px; background:#f0f9fe; padding:4px 0;}
.list-info-mem a{ padding-left: 10px;}

