@charset "utf-8";
/* CSS Document */
/* Reset ================================================================================= */
* { margin:0; padding:0; }

body          { margin:0 auto; background:none center top repeat; font:12px Arial, Helvetica, sans-serif; color:#363636; }

img           { border:0; vertical-align:top; }
a:link,
a:visited     {	color: #CA3E00; text-decoration: none;	outline:none;}
a:hover       { color:#f9ac2b; text-decoration:none; }
:focus        { outline:0; }

	/* Headings */
h1            { font-size:20px; font-weight:normal; line-height:20px; margin:0; }
h2            { font-size:17px; font-weight:normal; line-height:18px; margin:0; }
h3            { font-size:15px; line-height:16px; margin:0; }
h4            { font-size:13px; line-height:14px; margin:0; }
h5            { font-size:12px; line-height:12px; margin:0; }
h6            { font-size:11px; line-height:12px; margin:0; }
h1, h2, h3, h4, h5, h6{ font-family:Verdana, Geneva, sans-serif; font-weight:bold;}
	/* Forms */
form          { display:inline; }
fieldset      { border:0; }
legend        { display:none; }

	/* Table */
table         { border:0; border-collapse:collapse; border-spacing:0; empty-cells:show; font-size:100%; }
caption,th,td { vertical-align:top; text-align:left; font-weight:normal; }

	/* Content */
.strong, strong{ font-weight:bold; }
address       { font-style:normal; }
cite          { font-style:normal; }
q,
blockquote    { quotes:none; }
q:before,
q:after       { content:''; }
small,big     { font-size:1em; }
sup           { font-size:1em; vertical-align:top; }

	/* Lists */
ul,ol         { list-style:none; }

	/* Tools */
.hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.nobr         { white-space:nowrap !important; }
.a-left       { text-align:left !important; }
.a-center     { text-align:center !important; }
.a-right      { text-align:right !important; }
.v-top        { vertical-align:top; }
.v-middle     { vertical-align:middle; }
.f-left,
.left         { float:left !important; }
.f-right,
.right        { float:right !important; }
.f-none       { float:none !important; }
.f-fix        { float:left; width:100%; }
.no-display   { display:none; }
.no-mar       { margin:0 !important; }
.no-pad       { padding:0 !important; }
.no-bg        { background:none !important; }
.no-bor       { border:none !important; }