@charset "utf-8";

/* CSS Document */

#float-banner-left {
  padding: 10px 0;
  position: absolute;
  color: white;
  width: 121px;
  top: 41px;
  left: 2px;
  z-index: 100;
}

.floating-banner {
  padding: 7px 10px;
  right: 2px;
  font-weight: bold;
  position: fixed;
  top: 200px;
  z-index: 1000;
  background: #fdc819;
  color: #C93F00;
  border: 1px solid #C93F00;
}

.floating-banner:hover {
  text-decoration: underline;
  color: #C93F00;
}

.clear {
  clear: both;
}

.clearfix {
  display: block;
}

#body-bg {
  width: 100%;
  margin: 0 auto;
  background: url(../images/bgBody.jpg) repeat-x 0 0 #FBEDED;
  display: block;
}

#bot-body {
  width: 100%;
  margin: 0 auto;
  background: url(../images/bg-bot-bd.jpg) repeat-x 0 0 #FCFEFE;
  display: block;
  height: 43px;
  padding-bottom: 5px;
}

#wrapper {
  margin: 0 auto;
  padding: 0;
  width: 1024px;
  max-width: 1400px;
  position: relative;
}

#header {
  margin: 0;
  height: 165px;
  background: url(../images/bg-hd-r.png) no-repeat right bottom;
}

#hd-left {
  height: 165px;
  background: url(../images/bg-hd-l.png) no-repeat left bottom;
  display: block;
}

#navigation {
  width: 100%;
  background: url(../images/bg-mn-nav.jpg) repeat-x 0 0;
  height: 50px;
}

#main {
  margin: 0 5px;
  overflow: auto;
  border: 1px solid #97c7da;
  border-width: 0 1px;
  padding: 10px;
  background: #FFF;
}

#main-page {
  float: left;
  width: 69%;
  overflow: hidden;
}

#main-right {
  float: right;
  width: 300px;
  overflow: hidden;
}

#search-bn {
  width: 82%;
  padding-top: 12px;
  margin-left: 41px;
}

#menunav {
  margin: 0 auto;
  padding: 0 5px;
}

#grid-left {
  width: 19%;
  float: left;
}

#main-content {
  width: 80%;
  float: right;
}

.logo {
  float: left;
  margin: 0;
  padding: 35px 0 0 15px;
  width: 200px;
}

.log-info {
  float: right;
  width: 56%;
}

.log-mega {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 36px;
}

.log-mega li.mega {
  display: block;
  float: left;
  margin-left: 5px;
  padding: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.log-mega li.mega a.mega {
  color: #CFD9DF;
  display: block;
  font-size: 12px;
  line-height: normal;
  padding: 7px 10px 5px;
  text-transform: uppercase;
}

.log-mega li.signup {
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
  background-color: #ea8c23;
  /*float: right !important;*/
  margin-right: 20px;
}

.log-mega li.signup {
  background: #f3f4f4;
  margin-right: 5px !important;
}

.log-mega li.demo a.mega,
.log-mega li.signup a.mega {
  color: #E21414;
}

.log-mega li.demo a:hover.mega,
.log-mega li.signup a:hover.mega {
  color: #000;
  background: #FFF;
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.75)
}

.log-search {
  left: 420px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100px;
}

.log-search li.search {
  display: block;
  float: left;
  margin-left: 5px;
  padding: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.log-search li.search a.search {
  color: #CFD9DF;
  display: block;
  font-size: 12px;
  line-height: normal;
  padding: 7px 10px 5px;
}

.log-search li.signup {
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
  background-color: #ea8c23;
  float: right !important;
  margin-right: 20px;
}

.log-search li.signup {
  background: #f3f4f4;
  margin-right: 5px !important;
}

.log-search li.demo a.search,
.log-search li.signup a.search {
  color: #E21414;
}

.log-search li.demo a:hover.search,
.log-search li.signup a:hover.search {
  color: #000;
  background: #FFF;
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.75)
}

#search-bn .type-Indus {
  font-size: 11px;
  padding: 5px 0
}

#search-bn .inputbox {
  background: url(../images/icons/icon-search.gif) no-repeat scroll 8px center #FFFFFF;
  padding: 4px 0 4px 24px;
  width: 200px;
  color: #666;
}

#search-bn .button {
  margin-left: 5px;
  padding: 3px 7px;
}

.button {
  background: url(../images/but-bg.gif) repeat-x scroll center bottom #FFF;
  color: #333;
  cursor: pointer;
}

#search-bn label {
  float: right;
  color: #FFF;
  padding-left: 5px;
  text-align: center;
}

#search-bn label a:link {
  color: #FFF000;
}

#search-bn label a:visited {
  color: #FFF000;
}

#search-bn label a:hover {
  color: #FFF;
}


/* Menu navigation ---------------------------------------------------------- */

#menunav .menu-tag {
  margin-top: 7px;
  overflow: hidden;
  padding: 0;
  font-size: 12px;
  height: 28px;
}

#menunav .menu-tag a {
  background: url(../images/bg-menu.jpg) 0 -28px;
  color: #FFF;
  display: block;
  float: left;
  line-height: 20px;
  height: 28px;
  padding-left: 5px;
  font-weight: bold;
}

#menunav .menu-tag span {
  background: url(../images/bg-menu.jpg) 100% -28px;
  cursor: pointer;
  display: block;
  float: left;
  padding: 5px 10px 0 5px;
  height: 28px;
}

#menunav .menu-tag a:hover {
  background-position: 0 0;
  color: #f9ac2b;
}

#menunav .menu-tag a:hover span {
  background-position: 100% 0;
}

#menunav .menu-tag a:hover.active,
#menunav .menu-tag a.active {
  background-position: 0 0;
  color: #f9ac2b;
  font-weight: bold;
}

#menunav .menu-tag a:hover.active span,
#menunav .menu-tag a.active span {
  background-position: 100% 0;
}

#menunav .menu-tag li {
  float: left;
  margin: 0 6px 0 2px;
}

#menunav .menu-tag li.addicon img {
  padding: 3px 5px 0 0;
}

#bottom {
  background: url(../images/bg-bot-foot.jpg) repeat-x 0 0;
  height: 220px;
  display: block;
  margin: 0 5px;
}

.news-path {
  background: url(../images/icons/iconTit.jpg) 0 5px no-repeat;
  padding-left: 15px;
  color: #C93F00;
}

.headjob {
  width: 49%;
}

.headjob .title-sin,
.title-sin {
  color: #C93F00;
  padding: 5px 0;
  font-size: 13px;
  font-weight: bold;
}

.headjob .title-sin a,
.title-sin a {
  background: url(../images/icons/iconTit.jpg) 0 5px no-repeat;
  padding-left: 15px;
}

.removedot {
  background: none !important;
  padding-left: 0 !important;
}

.headjob p {
  padding: 2px 0;
}

.pathway .icons {
  background: url(../images/icons/home.16px.png) no-repeat 0 0;
  padding-left: 20px;
}

.list-jobs {
  padding: 0;
  display: block;
}

.list-jobs li {
  padding: 7px 0;
  border-bottom: 1px dotted #CCC;
}

.list-jobs a,
.list-jobs label {
  color: #C93F00;
  padding-right: 5px;
  font-weight: bold;
}

.list-jobs a.active {
  color: #f9ac2b;
}

.orange label,
.orange a:link,
.orange a:visited {
  color: #f7941e;
}

.bor-org {
  border-bottom: 1px solid #f9ac2b
}

.box-ads {
  padding: 5px;
  text-align: center;
}

.btn-resume {
  padding: 10px 0;
}

.btn-recv:link {
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 0 2px #fbbe1a;
  background-color: #fdc819;
  line-height: 18px;
  padding: 6px 0;
  color: #FFF;
  border: 1px solid #fbb31b;
}

.btn-recv:hover {
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 0 2px #fbbe1a;
  background: #FFF;
  color: #F00;
}

.btn-recv b {
  padding: 0 25px
}

.event-mega {
  padding: 5px 0;
}

.event-mega li {
  float: left;
  margin-right: 5px;
}

.event-mega .btn-event:link {
  -moz-border-radius: 2px;
  -moz-box-shadow: 0 0 1px #fbbe1a;
  background: url(../images/bnt-event.jpg) repeat-x 0 0;
  line-height: 18px;
  padding: 6px 10px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5)
}

.event-mega .btn-event:hover {
  -moz-border-radius: 2px;
  -moz-box-shadow: 0 0 1px #333;
  background: #FFF;
  line-height: 18px;
  padding: 6px 10px;
  color: #F00;
}

.box-grid {
  padding: 0;
  margin: 0;
}

.box-grid p {
  padding: 3px 0;
}

.box-grid img {
  padding: 3px;
  color: #FEF0F0;
}

.grid-content {
  padding: 5px;
  text-align: justify;
}

p.img,
.img {
  padding: 2px 0;
}

.size-small {
  font-size: 11px;
}

.mega-tabs {
  padding-left: 10px;
  overflow: hidden;
  font-size: 12px;
  height: 28px;
  border-bottom: 2px solid #C05A5A;
}

.mega-tabs a {
  background: url(../images/mega-tab.jpg) 0 -28px no-repeat;
  color: #FFF;
  display: block;
  float: left;
  line-height: 22px;
  height: 28px;
  padding-left: 7px;
  font-weight: bold;
}

.mega-tabs span {
  background: url(../images/mega-tab.jpg) 0 -28px no-repeat;
  color: #FFF;
  display: block;
  float: left;
  line-height: 28px;
  height: 28px;
  padding-right: 7px;
  font-weight: bold;
}

.mega-tabs a:hover {
  background-position: 0 0;
  color: #FFF;
}

.mega-tabs a:hover span {
  background-position: 100% 0;
}

.mega-tabs a:hover.active,
.mega-tabs a.active {
  background-position: 0 0;
  color: #FFF;
  font-weight: bold;
}

.mega-tabs a:hover.active span,
.mega-tabs a.active span {
  background-position: 100% 0;
}

.mega-tabs li {
  float: left;
  margin: 0 4px 0 2px;
}

.sub-mega-tabs {
  background: #FEF0F0;
  border: 1px solid #EFD3D3;
  border-width: 0 1px;
  padding: 5px;
}

.sub-mega li {
  float: left;
  margin-right: 5px;
  padding: 0 7px;
  font-weight: bold;
}

.sub-mega a.active {
  color: #f9ac2b
}

.list-news {
  padding: 5px;
  line-height: 16px;
}

.list-news li {
  padding: 5px 0 5px 14px;
  margin: 0;
  background: url(../images/icons/icon_bullet.gif) no-repeat left 10px;
  text-align: justify;
  border-bottom: 1px dotted #ccc;
}

.recruiters-list {
  padding: 5px 0;
}

.recruiters-list li {
  border-bottom: 1px dotted #CCC;
  padding: 4px 0;
}

.recruiters-list img {
  float: left;
  padding: 2px;
  border: 1px solid #EDEDED;
  background: #CCC;
  margin-right: 3px;
}

.recruiters-list p {
  padding: 0 0 3px !important;
}

.recruiters-list p.name-rec {
  text-align: justify;
  padding-bottom: 5px !important;
  font-weight: bold;
}

.choice-view {
  position: relative;
  float: left;
  padding: 5px 0;
  margin-bottom: 5px;
  clear: both;
  width: 100%;
  border-bottom: solid #EFD3D3 1px;
}

.choice-view span {
  padding: 5px;
  color: #C93F00;
  font-weight: bold;
}

.cat-list-field {
  padding: 5px 0;
}

.cat-list-home {
  padding: 5px 0;
  float: left;
  width: 33%;
}

.cat-list-home a {
  font-weight: bold;
}

.list-field {
  padding: 10px 5px;
}

.list-field li {
  width: 32%;
  float: left;
  margin-right: 9px;
  padding: 3px 0;
}

.list-field li a {
  background: url(../images/icons/pict_bullet.gif) no-repeat 0 -2px;
  padding-left: 12px;
  line-height: 18px;
}

.list-field li span {
  padding-left: 5px;
}

.list-field li strong {
  color: #333;
  font-size: 10px;
}

.mega-bot {
  float: right;
  text-align: right;
  padding: 0 10px;
}

.mega-bot li {
  float: left;
  padding: 0 5px;
  line-height: 30px;
}

.mega-bot a:link,
.mega-bot a:visited {
  color: #FFF;
  font-weight: bold;
  padding: 0 7px;
  text-shadow: #333 0 1px 1px;
}

.mega-bot a:hover,
.mega-bot a:active {
  color: #FF0;
}

.info-l-field {
  width: 38%;
}

.info-r-field {
  width: 62%;
}

.info-l-field .teamWork {
  margin-top: 50px;
}

.info-comp {
  border: 1px solid #ce9021;
  background: #FEF0F0;
  padding: 15px 10px;
  margin: 40px 20px 0 0;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 0 2px #fbbe1a;
}

.info-comp img {
  float: left;
  margin: 0 15px 0 5px;
  padding: 5px 0;
}

.info-l-field p,
.info-comp p {
  padding: 3px 0;
  color: #666;
  font-size: 11px;
}

.info-comp strong {
  font-size: 12px
}

.rounded-r {
  background: url(../images/rounded-r.jpg) no-repeat right bottom;
  height: 10px;
  display: block;
  margin: 0 5px;
}

.rounded-l {
  background: url(../images/rounded-l.jpg) no-repeat left bottom;
  height: 10px;
}

.menu-left {
  padding: 4px 0;
}

.menu-left li {
  margin: 3px 0;
  font-size: 13px;
}

.menu-left li a:link,
.menu-left li a:visited {
  border: 1px solid #EFD3D3;
  display: block;
  padding: 4px 0 4px 8px;
  -moz-border-radius: 2px;
  background: #FEF0F0;
  line-height: 16px;
  color: #111;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25)
}

.menu-left li a:hover,
.menu-left li a:active,
.menu-left li.active a {
  border: 1px solid #a7daef;
  display: block;
  -moz-border-radius: 2px;
  background: #FFF;
  line-height: 16px;
  color: #f7941e
}


/*quản lý hóa đơn - Hoàng Dũng*/

.tab-list {
  margin: 10px 0;
  background: #FEF0F0;
  width: 100%/*cursor:pointer; remove by phongbd*/
}

.tab-list img {
  float: left;
  margin: 5px 5px 5px 0;
  padding: 4px;
  background: #deeff9;
}

.tab-list th {
  border: 1px solid #EFD3D3;
  font-weight: bold;
  text-align: center
}

.tab-list td {
  border: 1px solid #EFD3D3;
  text-align: center
}

.tab-list .stt {
  width: 50px;
}

.tab-list .price {
  width: 100px;
}

.tab-list .pick {
  width: 80px;
}

.grid-com-hd {
  padding: 5px 0;
}

.infoComSigup {
  border: 1px solid #EFD3D3;
  display: block;
  padding: 10px 8px;
  -moz-border-radius: 5px;
  background: #FEF0F0;
  /*cursor:pointer; remove by phongbd*/
}

.infoComSigup:hover {
  border: 1px solid #EFA7A7;
  display: block;
  padding: 10px 8px;
  -moz-border-radius: 5px;
  background: #FFF;
}

.infoComSigup img {
  float: left;
  margin: 5px 5px 5px 0;
  padding: 4px;
  background: #deeff9;
}

.infoCom {
  padding: 0;
  width: 100%;
  float: right;
  line-height: 16px;
}

.infoCom strong {
  padding-bottom: 2px;
}

.infoCom .f-left {
  width: 20%;
}

.infoCom .f-right {
  width: 78%;
}

.infoCom .txtname {
  color: #900;
  font-size: 14px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
}

.grid-info {
  border: 1px solid #EFD3D3;
  border-width: 0 1px 1px;
  padding: 10px;
  margin-bottom: 5px;
}

.grid-info-hqd {
  border: 1px solid #EFD3D3;
  border-width: 0 1px 1px;
  padding: 10px;
  margin-bottom: 5px;
  overflow: hidden;
}

.list-info-com {
  padding: 5px;
  line-height: 16px;
}

.list-info-com li {
  padding: 5px 0;
  font-size: 11px;
}

.list-info-com .f-left {
  width: 24%;
  font-size: 12px;
}

.list-info-com .f-right {
  width: 75%;
  font-size: 12px;
}

.padd-small {
  padding: 5px 3px;
}

.normal {
  font-weight: normal !important;
}

.avatar-mem {
  border: 1px solid #EFD3D3;
  padding: 4px;
  -moz-border-radius: 3px;
  background: #FFF;
  cursor: pointer;
  text-align: center;
}

.avatar-mem:hover {
  border: 1px solid #a7daef;
  padding: 4px;
  -moz-border-radius: 3px;
  background: #FEF0F0;
}

.avatar-mem img {
  background: #FEF0F0;
  padding: 3px;
}

.list-job-table {
  padding: 5px 0;
  font-size: 12px;
}

.list-job-table .title-table {
  position: relative;
  padding: 3px 0 !important;
  border-bottom: 1px solid #f9ac2b;
}

.list-job-table li {
  padding: 3px 0;
  margin-bottom: 2px;
  position: relative;
}


/*===================== Tin tuyển dụng ưu tiên theo gói đăng ký ======================*/

.list-job-table li.red a,
.list-job-table li.red .location,
.list-job-table li.red .datetime,
.tab-list .red {
  color: red !important;
}

.list-job-table li.bold a,
.list-job-table li.bold .location,
.list-job-table li.bold .datetime,
.tab-list .bold {
  font-weight: bold !important;
}

.list-job-table li a:hover {
  color: #f9ac2b !important;
}

p.checkbox {
  position: absolute;
  top: 5px;
  right: 0px;
}

.list-job-table li p {
  margin-right: 5px;
  padding-left: 5px;
}

.list-job-table li.rowbg {
  background: #F7E6E6;
}

.list-job-table .positions {
  width: 45%;
}

.list-job-table .location {
  width: 15%;
}

.list-job-table .company {
  width: 21%;
}

.list-job-table .datetime {
  width: 12%;
}

.control {
  width: 10%;
}

.status {
  width: 10%;
}

.list-job-table .positions a {
  font-weight: bold;
}

.events-log {
  width: 50%;
  float: left;
}

.act-print {
  width: 28%;
  float: right;
}

.act-print font {
  color: #8A0000;
  cursor: pointer;
  font: 11px arial;
}

.act-print img {
  vertical-align: middle;
}

.showcase-page {
  color: #696F72;
  margin: 10px 0;
  padding: 0;
}

.pagination {
  margin: 15px auto;
  padding: 0;
  text-align: center;
}

.pagination li {
  background: none;
  display: inline;
  line-height: normal;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.pagination li a {
  background: none repeat #F7F7F8;
  border: 1px solid #E0E2E3;
  color: #696F72;
  display: inline-block;
  font-weight: bold;
}

.pagination li span,
.pagination li a {
  -moz-border-radius: 3px 3px 3px 3px;
  font-size: 12px;
  padding: 1px 7px;
}

.pagination li a:hover,
.pagination li a:active,
.pagination li a:focus {
  border: 1px solid #7F2021;
  color: #373333;
}

.pagination li.active span {
  background: #9D2929;
  border: 1px solid #7F2121;
  font-weight: bold;
  color: #fff;
}


/* Block======================================================================================= */


/* Standard all style system ============== Module ======================*/


/* list job*/

.ldo-job-blue {
  padding: 3px;
  margin: 0px;
  float: left;
  width: 213px;
}

.ldo-job-blue .title {
  height: 28px;
  padding: 0 !important
}

.ldo-job-blue h4 {
  background: url(../images/bg-mod-blue-r.jpg) no-repeat right top;
  height: 28px;
  display: block;
  font-size: 11px;
}

.ldo-job-blue span {
  background: url(../images/bg-mod-blue-l.jpg) no-repeat 0 0;
  padding-left: 10px;
  height: 28px;
  display: block;
  line-height: 28px;
  color: #FFF;
}

.ldo-job-blue .content {
  padding: 5px;
  border: 1px solid #EFD5D5;
  border-width: 0 1px 1px;
  height: 180px;
}

.list-field-job {
  padding: 5px 5px;
}

.list-field-job li {
  padding: 5px 0 5px 14px;
  margin: 0;
  background: url(../images/icons/icon_bullet.gif) no-repeat left 10px;
  text-align: justify;
  border-bottom: 1px dotted #ccc;
}

.list-field-job li a {
  line-height: 18px;
}

.list-field-job li span {
  padding-left: 5px;
}

.list-field li strong {
  color: #333;
  font-size: 10px;
}

.ldo-mod-blue {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.ldo-mod-blue .title {
  height: 28px;
  padding: 0 !important
}

.ldo-mod-blue h4 {
  background: url(../images/bg-mod-blue-r.jpg) no-repeat right top;
  height: 28px;
  display: block;
}

.ldo-mod-blue span {
  background: url(../images/bg-mod-blue-l.jpg) no-repeat 0 0;
  padding-left: 10px;
  height: 28px;
  display: block;
  line-height: 28px;
  color: #FFF;
}

.ldo-mod-blue .content {
  padding: 5px;
  border: 1px solid #EFD5D5;
  background: #FEF0F0;
  border-width: 0 1px 1px;
}

.gift .content {
  background: url(../images/icons/icon-gift.png) 96% 10px no-repeat #FEF0F0;
  display: block;
}

.content p {
  padding: 4px 0;
  margin: 2px 0;
}

.mod-grey h4 {
  background: url(../images/bg-mod-grey-r.jpg) no-repeat right top;
}

.mod-grey span {
  background: url(../images/bg-mod-grey-l.jpg) no-repeat 0 0;
}


/**  form ứng viên đăng ký  **/

label.required {
  color: red;
  font-size: 10px;
  font-weight: bold;
}

.employee-register {
  float: left;
  width: 99.5%;
  background: #FBEDED;
  border: 1px solid #F0A6A6;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
}

.employee-register h1 {
  float: left;
  color: #F53838;
  font-size: 16px;
  padding: 7px 15px;
}

.employee-register form {
  float: left;
  width: 100%;
}

.tb-register {
  float: left;
  width: 94%;
  background: white;
  border: 1px solid #F0A6A6;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  padding: 10px;
  margin: 0 9px 9px 9px;
}

table.detaiemployee {
  float: left;
  width: 670px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-collapse: collapse;
}

table.detaiemployee tr.title td {
  text-align: center;
  font-weight: bold;
  background: #F7E6E6;
  padding: 5px;
}

table.detaiemployee td {
  border: 1px solid #C1BE93;
}

table.detaiemployee tr.detail td {
  background: #F9FFDD;
  padding: 5px;
}

td.timel {
  font-weight: bold;
  color: #666666;
  text-align: center;
}

.lb-right {
  float: left;
  text-align: right;
  min-width: 20%;
  margin: 5px 0;
  padding: 3px 5px;
  font-size: 12px;
  font-weight: bold;
  color: #464646;
}

.lb-value {
  float: left;
  width: 75%;
  padding: 3px 0;
  margin: 5px 5px;
}

.lb-value .fieldarea {
  float: left;
  background: #f7f1e8;
  width: 220px;
  padding: 10px;
  height: 150px;
  overflow: auto;
  border: 1px solid #8C8C00;
}

.lb-value textarea {
  background: #f7f1e8;
  width: 510px;
  height: 150px;
  border: 1px solid #8C8C00;
}

.lb-value select {
  font-size: 12px;
  width: 232px;
}

.lb-value select.languages {
  width: 126px;
}

.txt_access {
  float: left;
  width: 98%;
  border: 1px solid #97adb4;
  height: 200px;
  overflow: auto;
  padding: 5px;
  margin-bottom: 10px;
  background: #F7F1E8;
  color: #C93F00;
}

.txt_access p {
  float: left;
  margin: 5px 0;
  text-align: justify;
  line-height: 25px;
  background: url(../images/icons/arrow-title.jpg) no-repeat 3px 10px;
}

.txt_access p span {
  color: #F3918B;
  font-weight: bold;
  font-size: 11px;
}

.txt_access li {
  float: left;
  list-style: none;
  padding: 10px 0 10px 20px;
  text-align: justify;
  background: url(../images/arrow-1.jpg) no-repeat 23px 20px;
  line-height: 20px;
}

input.ip-text {
  float: left;
  padding: 3px 5px;
  width: 220px;
  background: none repeat scroll 0 0 #F7F1E8;
  border: 1px solid #97ADB4;
  color: blue;
  font-size: 12px;
}

.bt-register {
  padding: 3px 10px;
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 0 2px #fbbe1a;
  background-color: #fdc819;
  line-height: 16px;
  color: #FFF;
  border: 1px solid #fbb31b;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.bt-register:hover {
  padding: 3px 10px;
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 0 2px #fbbe1a;
  background-color: #fff;
  line-height: 16px;
  color: red;
  border: 1px solid #CCC;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

input#nextlever {
  position: absolute;
  top: 10px;
  right: 22px;
}

#empimg {
  position: absolute;
  width: 105px;
  top: 50px;
  right: 22px;
  text-align: center;
  min-height: 170px;
}

#empimg img {
  float: left;
  border: 1px solid #D8D3C7;
  padding: 1px;
  width: 100px;
  height: 150px;
}

#empimg a {
  float: left;
  padding: 5px 10px;
  color: #5E5EFF;
  font-weight: bold;
  font-size: 11px;
}

#empimg a:hover {
  color: red;
  text-decoration: underline;
}

label.lb-note {
  float: left;
  padding-left: 5px;
  color: #7A855A;
  font-size: 10px;
  font-weight: inherit;
  font-family: tahoma;
  margin-top: 7px;
}

input.bt-submit {
  margin-top: 5px;
  color: #fff;
}

input.bt-submit:hover {
  color: red;
}

label.license {
  color: #C93F00;
  font-weight: bold;
  font-size: 11px;
}

label.license:hover {
  color: #FF8000;
  text-decoration: underline;
  cursor: pointer;
}

div.err_register,
div.err_apply {
  float: left;
  padding: 10px;
  width: 76%;
  margin: 0 0 10px 126px;
  background: none repeat scroll 0 0 #FAE8A0;
  border: 1px solid #FF4848;
  font-size: 11px;
  color: red;
  font-weight: bold;
}

div.success_register, div.success_apply {
    padding: 10px;
    margin: 0px 25px 10px 0px;
    background: none repeat scroll 0 0 #C4FFCE;
    border: 1px solid #48FF5F;
    font-size: 11px;
    color: #00B55B;
    font-weight: bold;
}

div.err_register li,
div.err_apply li {
  list-style: none;
  line-height: 20px;
}

div.employee-register p {
  float: left;
  width: 100%;
  line-height: 20px;
}

div.employee-register p.warning {
  padding-left: 25px;
  color: red;
  font-weight: inherit;
  background: url(../images/icons/warning_icon.png) no-repeat top left;
}


/** for ung vien cap nhat cv **/

#main-content-left {
  font-family: Verdana;
  float: left;
  width: 260px;
}

#main-content-right {
  float: left;
  width: 720px;
  font-family: Arial;
  margin-left: 10px;
}

.grid {
  float: left;
  margin-bottom: 10px;
}

.grid_header_left {
  float: left;
  height: 28px;
}

.grid_header_left h4 {
  float: left;
  width: 260px;
  background: url("../images/bg-mod-blue-r.jpg") no-repeat scroll right top transparent;
  display: block;
  height: 28px;
}

.grid_header_left h4 span {
  float: left;
  background: url("../images/bg-mod-blue-l.jpg") no-repeat scroll 0 0 transparent;
  color: #FFFFFF;
  display: block;
  height: 28px;
  line-height: 28px;
  padding-left: 10px;
}

.grid_left {
  float: left;
  width: 248px;
  padding: 5px;
  border: 1px solid #EFD5D5;
}

ul.boxmenu {
  float: left;
  padding: 5px;
}

ul.boxmenu li {
  float: left;
  border-bottom: 1px dotted #CCCCCC;
  margin: 0;
  text-align: justify;
}

ul.boxmenu li:first-child {
  border-top: 1px dotted #CCCCCC;
}

ul.boxmenu li a {
  float: left;
  width: 225px;
  background: url("../images/icons/icon_bullet.gif") no-repeat scroll left 15px transparent;
  padding: 10px 0 10px 14px;
}

ul.boxmenu li a.active,
ul.boxmenu li a:hover {
  padding-left: 13px;
  color: #F78037;
  background: #C0EDBA;
  border-left: dotted #CCCCCC 1px;
  border-right: dotted #CCCCCC 1px;
}

ul.boxmenu li:hover a,
ul.boxmenu li.active a {
  color: #F78037;
}

.date {
  color: #000;
  font-size: 10px;
  font-style: italic;
  font-weight: normal;
}

.view-content {
  line-height: 20px;
  text-align: justify;
}

.view-single {
  line-height: 20px;
  text-align: justify;
}


/*Bình luận*/

.msg_list {
  padding: 0;
  margin: 5px 0;
  width: 100%;
}

.msg_head {
  padding: 0px 5px;
  position: relative;
}

.msg_body {
  padding: 0px 5px;
  border: 1px solid #DEDEDE;
  background: #FEF0F0;
}

.list-cm {
  padding: 0;
  list-style: none;
}

.list-cm li {
  padding-bottom: 5px;
}

.list-cm li {
  padding: 0;
  border-bottom: dotted 1px #eeb34e;
}

.list-cm span {
  color: #3e0c0d;
}

.list-cm label {
  color: #666;
  font-size: 10px;
}

.title,
p.title {
  padding-left: 10px;
  line-height: 20px;
}

.comment-mod p {
  padding-top: 5px;
}

.hot-comm {
  background: url(/images/icons/CommentsIcon.png) no-repeat 1px 2px;
  padding: 4px 0 4px 20px !important;
}

.hot-comm .title {
  line-height: 16px;
  color: #CB680D;
  font-weight: bold !important;
  padding-left: 10px !important
}

.hot-comm a {
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  background: none !important;
}

.hot-comm span {
  margin-left: 10px;
}

.div-moz {
  -moz-border-radius: 3px;
  border-color: #E4B85E #C0C0C0 #C0C0C0 #E4B85E;
  border-style: solid;
  border-width: 1px;
  padding: 10px 5px;
  background: #f9d142;
}

.div-moz .inf-comm {
  color: #FFF;
  text-align: justify;
}

.div-moz label {
  font-size: 11px;
  color: #666;
}

.div-moz p {
  padding: 2px 0;
}

.like-comm {
  margin-top: 5px;
}

.like-comm .votelike {
  float: left;
  width: 50%;
  line-height: 26px;
  margin-left: 10px;
}

.votelike label {
  color: #CB680D;
}

.liked-btn {
  background: none;
  float: left;
  width: 20%;
}

.liked-btn .liketext {
  padding-left: 0 !important;
}

.liked-btn img {
  float: right !important;
  margin: 0 0 0 5px !important;
  padding: 0 !important;
  border: 0 !important;
}

.adword-middle {
  width: 100%;
  padding-top: 0px;
}

.adword-title {
  background: url(images/adword-title.gif) repeat-x scroll center top #F5F5F7;
  height: 21px;
  padding: 2px 5px;
}

.adw-box {
  padding-top: 10px;
  width: 100%;
}

.adword-textbox {
  color: #1b2131;
  margin: 2px 0;
  border: 1px solid #7F9DB9;
  font: 11px arial;
  height: 18px;
  padding: 3px;
  width: 95%;
}

.adword-select {
    color: #1b2131;
    margin: 2px 0;
    border: 1px solid #7F9DB9;
    font: 11px arial;
    padding: 3px;
    width: 97%;
}

textarea#content {
  width: 99%;
}

input#title {
  width: 98%;
}

input#captcha {
  float: left;
  width: 200px;
  padding: 3px 10px;
  margin-right: 10px;
}

#siimage {
  float: left;
  margin-top: 4px;
}

img.ButtonRefresh {
  float: left;
  margin: 4px 6px;
}

.view-single {
  padding-bottom: 5px;
}

.view-single h1 {
  padding: 3px 0;
}

.view-single h2 {
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
}

.view-single img {
  border: 1px solid #DDD;
  display: block;
  float: left;
  padding: 2px;
  margin-right: 7px;
  margin-top: 5px;
}

.view-single label {
  font-size: 11px;
  padding-bottom: 5px;
  color: #999;
}

.view-single p {
  padding: 5px 0;
  text-align: justify;
  line-height: 18px;
}

.view-tags img {
  float: right;
  margin-left: 5px;
}

.if-featured {
  margin-bottom: 10px;
}

.if-featured li {
  float: left;
  width: 150px;
  margin: 0 6px;
}

.if-featured p.img {
  padding: 5px 0 2px;
}

.if-featured p img {
  float: none;
  padding: 4px;
  background: #EDEDED;
  margin: 0;
}

.if-featured a {
  display: block;
  text-align: justify !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.viewnew-time {
  margin: 5px 0;
}

.contact_a {
  font-family: Verdana, Geneva, sans-serif;
  color: #C93F00 !important;
  outline: medium none;
  text-decoration: none;
}

.contact {
  /*margin-top: -13px;*/
}

#Banner {
  width: 675px;
  float: left;
  margin-bottom: 5px;
  padding: 3px;
  border: 1px solid #EFD3D3;
  border-radius: 5px 5px 5px 5px;
  background: #F7E6E6;
}

#Banner .viewCityHead .city_item {
  font-weight: bold;
  height: 24px;
  margin-top: 1px;
  margin-left: 3px;
  margin_bottom: 1px;
  float: left;
  cursor: pointer;
  background: url(../images/arrow_blue.gif) 0 center no-repeat;
  width: auto
}

#Banner .viewCityHead .city_item .ctcenter {
  margin-left: 5px;
  height: 23px;
  width: auto;
  font-family: arial;
  font-size: 14px;
  color: #C93F00;
  padding: 0 9px 0 3px;
  line-height: 24px;
}

#Banner .viewCityHead .city_item_over {
  height: 24px;
  margin-top: 1px;
  margin-left: 3px;
  margin_bottom: 1px;
  float: left;
  cursor: pointer;
  background: url(../images/l_selected_city.png) no-repeat;
  position: relative
}

#Banner .viewCityHead .city_item_over .ctcenter {
  color: #FFF;
  font-weight: bold;
  margin-left: 5px;
  height: 24px;
  font-family: arial;
  font-size: 14px;
  color: #FFF;
  padding: 0 9px 0 3px;
  line-height: 24px;
  background: #A95400 url(../images/r_selected_city.png) right top no-repeat;
}

#Banner .viewCityHead .cityother_item,
#Banner .viewCityHead .cityother_item_over {
  height: 24px;
  margin-top: 1px;
  margin-left: 10px;
  margin_bottom: 1px;
  float: left;
  cursor: pointer;
  background: url(../images/l_selected_city_other.png) no-repeat;
  width: auto
}

#Banner .viewCityHead .cityother_item .ctcenter,
#Banner .viewCityHead .cityother_item_over .ctcenter {
  margin-left: 5px;
  height: 24px;
  width: auto;
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
  color: #C93F00;
  padding: 0 15px 0 4px;
  line-height: 24px;
  background: #FFEBD4 url(../images/r_selected_city_other.png) right top no-repeat;
}

#Banner .viewCityHead .cityother_item_over {
  color: #FF0000
}

#Banner .viewCityHead .cityother_item_over .ctcenter {
  color: #FF0000
}

#Banner .viewCityHead .no_bg {
  background: none
}


/* tinh thanh khac*/

#dialog-overlay {
  /* transparency for different browsers */
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  /* make sure it appear behind the dialog box but above everything else */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3000;
  /* hide it by default */
  display: none;
}

#dialog-box {
  /* css3 drop shadow */
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  /* css3 border radius */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #FFF;
  /* styling of the dialog box, i have a fixed dimension for this demo */
  width: 440px;
  /* make sure it has the highest z-index */
  position: absolute;
  border: solid 1px #ccc;
  z-index: 5000;
  /* hide it by default */
  display: none;
}

#dialog-box .dialog-content {
  /* style the content */
  text-align: left;
  padding: 10px;
  color: #666;
  font-family: arial;
  font-size: 11px;
}

#dialog-box {
  margin-top: 33px !important;
}

.state {
  background: #F7E6E6;
  padding: 10px;
}

.box_city {
  float: left;
  width: 140px;
  text-align: left;
}

.btn_close {
  float: right;
  padding-bottom: 5px;
  padding-right: 7px;
  text-align: right;
  width: 98%;
  cursor: pointer;
  color: #C93F00;
}

.menu_all {
  padding: 3px 5px;
}

#feedback-button {
  z-index: 101;
  position: fixed;
  bottom: 5px;
  right: 5px;
  background: url("/images/float_icon.gif") top center no-repeat #fdc819;
  padding: 20px 5px 5px 5px;
}

#feedback-button:hover {
  cursor: pointer;
  color: red;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.no-border {
  border: none!important;
}

.no-bg {
  background: transparent!important;
}

.width-100p {
  width: 100%!important;
}

.pad-top-3 {
  padding-top: 3px!important;
}

.sp-fast {
  background: white;
}

.sp-fast .title {
  width: 91%;
  background: url("/images/bg-mod-grey-l.jpg") no-repeat scroll 0 0 transparent;
  height: 28px;
}

.sp-fast .title h4 {
  background: url("/images/bg-mod-grey-r.jpg") no-repeat scroll right top transparent;
  color: white;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
}

.sp-fast .item {
  text-align: center;
  margin: 10px 0 15px 0;
  width: 97%;
}

.sp-fast .item img {
  width: 100px;
  height: 28px;
}

.border-content {
  border: 1px solid #949599;
  width: 118px;
}

ul.list-job-table li:nth-child(2n+1) {
  background: #F7E6E6;
}

.list-job-table .positions {
  width: 60% !important;
}

.list-job-table .company {
  width: 18% !important;
}

.list-job-table .company {
  width: 25% !important;
}

.list-job-table .datetime {
  width: 10% !important;
}

.list-job-table p.checkbox {
  top: auto;
  text-align: center;
  width: 9%;
}

.rssLink {
  float: right;
  margin-right: 5px;
}

.rssLink a {
  background: none;
}

a.nolink:hover {
  color: #C93F00;
}

.menu-title {
  font-weight: bold;
  color: #C93F00;
}

.resultTable {
  border: 1px solid #F0A6A6;
  float: left;
  width: 98%;
  margin: 0px 6px 10px 6px;
  background: #F7E6E6;
}

.resultTable thead {
  border-bottom: 1px solid #F9AC2B;
}

.resultTable thead tr th {
  font-weight: bold;
  padding: 5px;
}

.resultTable tbody tr:nth-child(2n+1) {
  background: white;
}

.resultTable tbody tr td {
  padding: 5px;
}

.mce-content-body p {
    margin: 0px 0px 5px 0px;
    border-bottom: 1px dashed #eee;
}

.mce-content-body {
    font-family: "Arial";
    font-size: 13px;
    color: #828282;
    padding: 12px;
}